html {
    height: 100%;
}


body {
    background-color: #000f0f;
    background-image: url(images/43\,332+\ Best\ Free\ 4k\ wallpaper\ 1920x1080\ Stock….jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: center;
}


nav {
    background-color:#1b010a8c;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    
}

main {
    height: 400px;
    text-align: center;
    margin-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: #02000c73;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

h1 {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    color: #f8f3f3;

}

p {
    font-size: 20px;
    color: rgb(249, 250, 250);
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: rgb(236, 234, 240);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

nav a {
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;

    
}

footer p {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    color: #f8f3f3;
    padding-left: 10px;
    padding-right: 10px;
}

.maps {
    padding-bottom: 100px;
    padding-top: 100px;
}

.real {
    padding-top: 100px;
    padding-left: 240px;
    padding-right: 240px;
}
